/*  Base Styling for site  */
body {
	background-color: #FFF;
	color: #222;
	font: 18px "adobe-caslon-pro", Helvetica, georgia, serif;
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	-webkit-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig"; }

h1, h2, h3, h4, h5, h6{
	font-size: 1em;
	line-height: 1.25em;
	margin: 0 0 0.5em;
}

a{ text-decoration: none; }

/*  Layout  */

.container {
	display: block;
	margin: 0 auto;
	max-width: 800px;
}

.l-header{
	float: left;
	text-align: center;
	width: 100%;
}

.footer{
	float: left;
	width: 100%;
}

.social{
	border-bottom: 1px solid #eee;
	float: left;
	margin-bottom: 2em;
	padding-bottom: 1.5em;
	text-align: center;
	width: 100%;
}

.social a{
	padding: 0 2%;
}

.headshot {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: block;
	margin: 2em auto 1em;
	padding: 10px;
	width: 200px;
	height: 200px; }


.pagecontent__title{
	border-bottom: 1px solid #eee;
	float: left;
	text-align: center;
	font-size: 1.5em;
	margin: 1em 0 1em;
	padding-bottom: 0.5em;
	font-weight: 100;
	width: 100%;
}

.socialicon{
	color: #999;
}

.socialicon span{ display: none; }

/*  Elements  */

/* My Work */

.work{}

.work--short{
	border-bottom: 1px solid #eee;
	float: left;
	margin: 0 2% 2em 0;
	padding-bottom: 1em;
	overflow: hidden;
	width: 49%;
}

@media only screen and (max-width: 600px){
	.work--short{
		margin-left: 1%;
		margin-right: 0;
		width: 98%;
	}
}

.work--short:nth-child(odd){ margin-right: 0; }

.work__shortdesc{
	margin-top: 0;
}

.work__image{
	border: 1px solid #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	height: auto;
	width: 100%;
}

.work__viewlink{
	background: #222;
	color: #FFF;
	line-height: 1.1em;
	float: right;
	margin: 1em 0 0 10px;
	padding: 0.8em 1em 0.3em;
	font-size: 0.8em;
}
